.ui-workflow {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    border-left: 2px solid;
    border-right: 2px solid;
    width: 100%;
    counter-reset: steps;
}


.ui-workflow *,
*:after,
*:before {
    box-sizing: border-box;
}

.ui-workflow ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.ui-workflow-step {
    position: relative;
    display: inline-block;
    left: -28px; /* -2px default + 26px offset to hide skewed area on the left side of first element*/
    height: 50px;
    line-height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    counter-increment: steps;
    cursor: pointer;
    transition: background 1s;
    min-height: 30px;
}

.ui-workflow-step:after,
.ui-workflow-step:before {
    position: absolute;
    content: '';
    left: 0px;
    height: 50%;
    width: 100%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 3px solid; /* thicker border as skew makes them look thin */
    border-right: 3px solid;
    background: rgba(255, 255, 255, 0.15);
}

.ui-workflow-step:before {
    transform: skew(45deg);
    top: 0px;
    border-bottom: none;
    transform-origin: top left;
}

.ui-workflow-step:after {
    transform: skew(-45deg);
    bottom: 0px;
    border-top: none;
    transform-origin: bottom left;
}

.ui-workflow-step span{
    float:left;
    display: inline;
    position:relative;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 75%;
    vertical-align: middle;
}

/* .ui-workflow-step span:before{
  content: counter(ui-workflow-step) ". ";
} */
.ui-workflow-step.active span{
    font-weight: bold;
}
.ui-workflow-step.active:before,
.ui-workflow-step.active:after {
    background: rgba(0, 0, 0, 0.5);
}

.ui-workflow .ui-workflow-item {
    float: left;
    box-sizing: border-box;
}

.ui-workflow .ui-workflow-item .ui-menuitem-link {
    text-decoration: none;
    display: block;
    padding: 1em;
    position: relative;
    text-align: center;
}

.ui-workflow .ui-workflow-item.ui-state-highlight .ui-menuitem-link,
.ui-workflow .ui-workflow-item.ui-state-disabled .ui-menuitem-link {
    cursor: default;
}

.ui-workflow .ui-workflow-number {
    font-size: 200%;
    display: block;
}

.ui-workflow .ui-workflow-title {
    display: block;
    white-space: nowrap;

}

.ui-workflow .ui-workflow-step-late {
    color: crimson;
}

.ui-workflow .ui-workflow-step-early {
    color: limegreen;
}

.ui-workflow-step-problematic {
    background-color: orange;
}

.ui-workflow-step-failed {
    background-color: red;
}

.ui-workflow-step-ok {
    background-color: lime;
}
